@font-face {
    font-family: "dynapuff";
    src: url(../DynaPuff/DynaPuff-VariableFont_wdth\,wght.ttf);
}

.whole-mypage {
    width: 100%;
    height: 900px;
    background-color: #033104;

    font-family: "dynapuff";
}

.b-page-title {
    width: 500px;
    height: 100px;

    margin: auto;
    padding: 0;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;

    font-family: "dynapuff";
    font-size: 40px;
    font-weight: 400;
}

.b-my-page-box {
    width: 60%;
    height: 750px;

    border-radius: 15px;
    background-color: whitesmoke;

    margin: auto;
}

.b-fixed-values {
    width: 100%;
    height: 30%;
    border-bottom: 1px solid;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
}

.b-profile-image-box {
    width: 40%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b-profile-image {
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 50%;

    background-image: url(../img/blank-profile-picture.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.b-profile-info {
    width: 60%;
    height: 100%;
}

.b-id-box {
    width: 100%;
    height: 50%;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.b-text-id {
    width: 20%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.b-text-actual-id {
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10%;
}

.b-wallet-address {
    width: 100%;
    height: 50%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-text-wallet-address {
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-text-actual-wallet-address {
    width: 65%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-overflow: ellipsis;
}

.b-copy-button-box {
    margin-right: 5%;
}

.b-changing-values {
    width: 100%;
    height: 70%;
}

.b-nickname-change-box {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.b-password-change-box {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.b-text-nickname {
    width: 40%;

    display: flex;
    justify-content: center;
}

.b-new-nickname-input-box {
    width: 30%;
}

.b-nickname-change-btn {
    width: 30%;

    display: flex;
    justify-content: center;
}

.b-new-password-box {
    width: 100%;

    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.b-text-password {
    width: 40%;

    display: flex;
    justify-content: center;
}

.b-new-password-input-box {
    width: 60%;

    display: flex;
    justify-content: flex-start;
}

.b-new-password-confirm-box {
    width: 100%;

    display: flex;
    align-items: center;
}

.b-text-password-confirm {
    width: 40%;

    display: flex;
    justify-content: center;
}

.b-new-password-confirm-input-box {
    width: 30%;
}

.b-password-change-btn {
    width: 30%;

    display: flex;
    justify-content: center;
}

.b-game-select-box {
    width: 100%;
    height: 50%;
}

.b-game-box-title {
    width: 100%;
}

.b-game-box-title-text {
    width: 50%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;
}

.b-game-select {
    width: 100%;
    height: 45%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.b-human-save-game {
    width: 200px;
    height: 220px;

    margin: 30px;
    margin-top: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.b-human-save-game-icon {
    width: 100%;
    height: 85%;
    border-radius: 10px;

    background-image: url(../space_game/images/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.b-human-save-game-icon:hover {
    cursor: pointer;
}

.b-human-save-game-title:hover {
    cursor: pointer;
}

.b-number-select-game {
    width: 200px;
    height: 220px;

    margin: 30px;
    margin-top: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.b-number-select-game-icon {
    width: 100%;
    height: 85%;
    border-radius: 10px;

    background-image: url(../number_game/images/number_game_image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.b-number-select-game-icon:hover {
    cursor: pointer;
}

.b-number-select-game-title:hover {
    cursor: pointer;
}