@font-face {
    font-family: "dynapuff";
    src: url(./DynaPuff/DynaPuff-VariableFont_wdth\,wght.ttf);
}

body{
    background-color: #033104;
    font-family: "dynapuff";
}

.b-page-title{
    width: 500px;
    height: 100px;

    margin: auto;
    margin-top: 50px;
    padding: 0;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "dynapuff";
    font-size: 40px;
    font-weight: 400;
}

.a-board-box{
    width: 60%;
    height: 600px;

    border-radius: 15px;
    box-shadow: 10px 10px 5px rgba(100, 100, 100, 0.6), -2px -2px 5px rgba(100, 100, 100, 0.6);
    background-color: whitesmoke;

    margin: auto;
    /* margin-top: 20px; */

    box-sizing: border-box;
/*
    position: relative; */
    /* padding-top: 30px; */
}

.a-header-title{
    margin-left: 50px;
    padding-top: 20px;
}

.a-center {
    margin: 0 auto;
}

/* .a-center {
    text-align: center;
    position: relative;
} */

.a-btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    user-select: none;

    color: white;
    background-color: gray;
}

.a-board-table {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.a-board-btn {
    text-align: right;
    margin-bottom: 20px;
    }

.a-board-tablelist {
    /* width: 430px; */
    width: 100%;
    display: block;

}

.a-board-tablelist li {
    float: left;
    text-align: center;
    list-style:none;
    border:solid 1px;

}
.a-w1 {width:10%; }
.a-w2 {width:25%; }
.a-w3 {width:25%; }
.a-w4 {width:35%; }

.a-title {
	height: 50px;
	line-height: 50px;
	font-weight: bold;
    border-right:solid 1px gray;

}

.a-list {
	height: 40px;
	line-height: 40px;
    border-bottom:solid 1px gray;
}

/* 페이지네이션 */

.a-pagenum-div {
    display: flex;
}


.a-board-pagenum {
    height: 100px;
    /* text-align: center; */
    display: flex;
    /* margin-top: 20px; */
}

.a-numbtn {
    display: none;
}

.a-numbtn:checked+label {
    color: aqua;
}

.a-board-pagenum label {
    margin-right: 40px;
    width: 20px;
    height: 20px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 페이지네이션 끝 */

.a-board-list {
    /* align-content: center;
    text-align: center;
    padding-left: 0; */

    /* width: 100%;
    height: 500px; */

    text-align: center;
    margin-top: 20px;
}

/* ---------------------- */
/* edit 페이지 */
.a-edit-box label h3 {
    margin-bottom: 4px;
}

.a-edit-box input, .a-edit-box textarea {
    width: 100%;
    border-radius: 4px;
    border:1px solid #bbb;
    padding: 6px;

    font-size: 20px;
}

.a-edit-box #content {
    height: 300px;
    resize: none;
}

/* --------------------------
/* detail */
.a-board-box.a-detail-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    /* height: fit-content; */

    /* display: flex; */
    justify-content: center;
    /* margin: 10px auto; */
    /* width: 90%; */
}

.a-box {
    padding: 20px;
}

.a-edit-box .a-box {
    position: relative;
}

/* .a-detail-box .a-right {
    display: flex;
    position: absolute;
    right: 0;
} */

.a-right {
    display: flex;
    position: absolute;
    right: 0;
}

/* .a-detail-right * {
    margin-right: 6px;
} */

/* .a-board-user-date h4:first-child {
    margin-right: 10px;
} */

.a-detail-box{
    width: 60%;
    height: 600px;
}

/* .a-detail-box .a-wrap {
    /* border-top: 2px solid #000; */
    /* border-bottom: 2px solid #000; */
    /* width: 100%; */
/* } */

.a-detail-writer {
    /* width: 90%; */
    /* border: 1px solid; */

    display: flex;
    justify-content: flex-end;
}

.a-detail-btns {
    display: flex;
    margin-top: 10px;
    position: relative;
}

.a-detail-title {
    width: 100%;
    border: 1px solid;
}

.a-detail-content {
    width: 100%;
    min-height: 200px;
    max-height: fit-content;
    border: 1px solid;
    margin: 10px 0;
}

.a-detail-answer, .a-detail-answer-add {
    min-height: 200px;
    border: 1px solid;
    margin: 20px 0;
    position: relative;
    display: none;
}

.a-detail-user, .a-detail-date {
    border: 1px solid;
    width: fit-content;
    margin: 0;
    padding: 5px;
    /* min-width: 140px; */
    /* max-width: 200px; */
}


.a-detail-box textarea {
    width: 100%;
    padding: 0;
    min-height: 150px;
    resize: none;
    box-sizing: border-box;
}