.a-board-box{
    width: 60%;
    height: 800px;

    border-radius: 15px;
    box-shadow: 5px 5px 5px;
    background-color: whitesmoke;

    margin: auto;
    margin-top: 80px;

    box-sizing: border-box;

}

.a-center {
    text-align: center;
    position: relative;
}

.a-btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    color: white;
    background-color: gray;
}

.a-board-table {
    /* display:flex;
    justify-content: center;
    width: 100%; */
}

.a-board-tablelist {
    /* width: 430px; */
    width: 100%;
    display: block;

}

.a-board-tablelist li {
    float: left;
    text-align: center;
    list-style:none;
    border:solid 1px;

}
.a-w1 {width:10%; }
.a-w2 {width:25%; }
.a-w3 {width:25%; }
.a-w4 {width:34%; }
/* .a-w1 {width:40px; }
.a-w2 {width:80px; }
.a-w3 {width:200px; }
.a-w4 {width:100px; } */

.a-title {
	height: 50px;
	line-height: 50px;
	font-weight: bold;
    border-right:solid 1px gray;

}
/* .r_line {border-right:solid 1px gray;} */
/* .b_line {border-bottom:solid 1px gray;} */
.a-list {
	height: 40px;
	line-height: 40px;
    border-bottom:solid 1px gray;
}

.a-board-pagenum {
    height: 100px;
    margin-top: 100px;
}

.a-board-box label h3 {
    margin-bottom: 4px;
}

.a-board-box input, .a-board-box textarea {
    width: 80%;
    border-radius: 4px;
    border:1px solid #bbb;
    padding: 6px;

    font-size: 20px;
}

.a-board-box #content {
    height: 400px;
    resize: none;
}

.a-board-box .a-board-user-date {
    display: flex;
    position: absolute;
    right: 0;

}

.a-board-user-date h4:first-child {
    margin-right: 10px;
}