@font-face {
    font-family: "dynapuff";
    src: url(./DynaPuff/DynaPuff-VariableFont_wdth\,wght.ttf);
}

body{
    margin: 0;
}

.whole-mypage{
    width: 100%;
    height: 100vh;
    background-color: #033104;

    font-family: "dynapuff";
    /* opacity: 0; */
}

@keyframes mainLoginPageFadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.b-login-page-title{
    width: 500px;
    height: 100px;

    margin: auto;
    margin-top: 50px;
    padding: 0;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "dynapuff";
    font-size: 40px;
    font-weight: 400;
}

.b-my-page-box{
    width: 60%;
    height: 470px;
    
    border-radius: 15px;
    /* box-shadow: 5px 5px 5px; */
    background-color: whitesmoke;

    margin: auto;
}

.b-login-box{
    margin-top: 30px;
}

.b-fixed-values{
    width: 100%;
    height: 30%;
    border-bottom: 1px solid;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
}

.b-profile-image-box{
    width: 40%;
    height: 100%;
    border-right: 1px solid;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b-profile-image{
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 50%;

    background-image: url(./blank-profile-picture.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.b-profile-info{
    width: 60%;
    height: 100%;
}

.b-id-box{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.b-text-id{
    width: 20%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.b-text-actual-id{
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b-wallet-address{
    width: 100%;
    height: 50%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-text-wallet-address{
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-text-actual-wallet-address{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-overflow: ellipsis;
}

.b-changing-values{
    width: 100%;
    height: 70%;
}

.b-nickname-change-box{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.b-password-change-box{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.b-text-nickname{
    width: 40%;

    display: flex;
    justify-content: center;
}

.b-new-nickname-input-box{
    width: 30%;
}

.b-nickname-change-btn{
    width: 30%;

    display: flex;
    justify-content: center;
}

.b-new-password-box{
    width: 100%;

    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.b-text-password{
    width: 40%;

    display: flex;
    justify-content: center;
}

.b-new-password-input-box{
    width: 60%;

    display: flex;
    justify-content: flex-start;
}

.b-new-password-confirm-box{
    width: 100%;

    display: flex;
    align-items: center;
}

.b-text-password-confirm{
    width: 40%;

    display: flex;
    justify-content: center;
}

.b-new-password-confirm-input-box{
    width: 30%;
}

.b-password-change-btn{
    width: 30%;

    display: flex;
    justify-content: center;
}


/* -----------------------------------------------------------------------------------------현욱 */

.j-login-flex-box{
    margin: auto;
    padding: 0;

    display: flex;
    flex-direction: column;
    max-width: 460px;
    height: 560px;
    box-sizing: border-box;
}
.j-logo{
    width: 100%;
    display: inline-block;

    align-items: center; text-align: center;
}
.j-logo a{
   font-size: 40px;
   color: black;
    outline-width: 0;
    text-decoration: none;
}
.j-id-loginText{
    text-align: center;
    width: 100%;
    height: 32px;
}
.j-underBar{
    border-bottom: 2px solid aqua;
    width: 100%;
    height: 2px;
}
.j-id {
    background-color: rgba(128, 128, 128, 0.1);
    height: 44px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    display: flex;
    align-items: center;
  }
  

  
.j-pw{
    background-color: rgba(128, 128, 128,0.1);
    height: 44px;
    border: 1px solid  rgba(128, 128, 128,0.1);
}
.j-blank{
    width: 100%;
    height: 25px;

}
.j-blank2{
    width: 100%;
    height: 7px;
}
.j-loginbtnbox{
    height: 50px;

    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #033104;
}
.j-loginbtn{
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: none; 
    background-color: transparent;
}
.j-flex-findbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    padding-left: 2.5%;
}

.j-findId{
    cursor: pointer;
    width: auto;
    height: 19px;
}
.j-findpw{
    cursor: pointer;
    width: auto;
    height: 19px;
}
.j-signup{
    width: 150px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* border: 1px solid; */
    border-radius: 50px;

    /* background-color: #066508; */

    font-size: 15px;
}
.j-signup:hover{
    cursor: pointer;
    background-color: lightgray;
}

.b-signup-options{
    width: 100%;
    height: 60px;
    /* border: 1px solid; */

    margin: auto;
    margin-top: 5px;
    margin-bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.b-signup-options div{
    margin-left: 10px;
    margin-right: 10px;
}
.b-signup-option-image-google{
    width: 50px;
    height: 50px;
    /* border: 1px solid; */
    border-radius: 50%;
    background-image: url(./google_logo.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
.b-signup-option-image-facebook{
    width: 50px;
    height: 50px;
    /* border: 1px solid; */
    border-radius: 50%;
    background-image: url(./facebook_logo.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}
.b-signup-option-image-naver{
    width: 50px;
    height: 50px;
    /* border: 1px solid; */
    border-radius: 50%;
    background-image: url(./naver_logo.png);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}
.j-input1{
    width: 100%;
    height: 44px;
    border: none; 
    background-color: transparent;
}
.b-login-to-signup{
    width: 150px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: black;

    border: 1px solid #033104;
    border-radius: 50px;
}