@font-face {
    font-family: "dynapuff";
    src: url(./DynaPuff/DynaPuff-VariableFont_wdth\,wght.ttf);
}

body{
    margin: 0;
}

.whole-mypage{
    width: 100%;
    height: 100vh;
    background-color: #033104;

    font-family: "dynapuff";
}

.b-wallet-intro{
    width: 100%;
    height: 100vh;
    background-color: #033104;
    margin: 0;

    position: relative;
    z-index: 0;
}

.b-wallet-intro::before{
    content: "";

    width: 100%;
    height: 2px;

    background-color: white;

    position: absolute;
    top: 50%;
    left: -100%;

    animation: lineMoving 1s linear forwards;
}

.b-moving-box{
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: white;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);

    background-image: url(./121383751_padded_logo.png);
    background-repeat: no-repeat;
    background-size: 100%;

    animation: boxMoving 1s linear forwards;
}

.b-breaking-line1{
    height: 100%;
    border: 1px solid white;

    position: absolute;
    top: -50%;
    left: 100%;

    transform: rotate(0deg);

    animation: breakingLineMoving1 4s linear forwards, lineBreaking2 0.2s linear forwards;
    animation-delay: 0s, 1s;

    z-index: -1;
}

.b-breaking-line2{
    height: 100%;
    border: 1px solid white;

    position: absolute;
    top: 50%;
    left: 100%;

    transform: rotate(0deg);

    animation: breakingLineMoving1 4s linear forwards, lineBreaking1 0.2s linear forwards;
    animation-delay: 0s, 1s;

    z-index: -1;
}

.b-breaking-line3{
    height: 100%;
    border: 1px solid white;

    position: absolute;
    top: -50%;
    left: 150%;

    transform: rotate(0deg);

    animation: breakingLineMoving2 5s linear forwards, lineBreaking2 0.2s linear forwards;
    animation-delay: 0s, 2s;

    z-index: -1;
}

.b-breaking-line4{
    height: 100%;
    border: 1px solid white;

    position: absolute;
    top: 50%;
    left: 150%;

    transform: rotate(0deg);

    animation: breakingLineMoving2 5s linear forwards, lineBreaking1 0.2s linear forwards;
    animation-delay: 0s, 2s;

    z-index: -1;
}

.b-breaking-line5{
    height: 100%;
    border: 1px solid white;

    position: absolute;
    top: -50%;
    left: 250%;

    transform: rotate(0deg);

    animation: breakingLineMoving3 7s linear forwards, lineBreaking2 0.2s linear forwards;
    animation-delay: 0.1s, 3.55s;

    z-index: -1;
}

.b-breaking-line6{
    height: 100%;
    border: 1px solid white;

    position: absolute;
    top: 50%;
    left: 250%;

    transform: rotate(0deg);

    animation: breakingLineMoving3 7s linear forwards, lineBreaking1 0.2s linear forwards;
    animation-delay: 0.1s, 3.55s;

    z-index: -1;
}

.b-breaking-line7{
    height: 100%;
    border: 1px solid white;

    position: absolute;
    top: -50%;
    left: 250%;

    transform: rotate(0deg);

    animation: breakingLineMoving3 7s linear forwards, lineBreaking2 0.2s linear forwards;
    animation-delay: 0.15s, 3.57s;

    z-index: -1;
}

.b-breaking-line8{
    height: 100%;
    border: 1px solid white;

    position: absolute;
    top: 50%;
    left: 250%;

    transform: rotate(0deg);

    animation: breakingLineMoving3 7s linear forwards, lineBreaking1 0.2s linear forwards;
    animation-delay: 0.15s, 3.57s;

    z-index: -1;
}

.b-breaking-line9{
    height: 100%;
    border: 1px solid white;

    position: absolute;
    top: -50%;
    left: 250%;

    transform: rotate(0deg);

    animation: breakingLineMoving3 7s linear forwards, lineBreaking2 0.2s linear forwards;
    animation-delay: 0.2s, 3.59s;

    z-index: -1;
}

.b-breaking-line10{
    height: 100%;
    border: 1px solid white;

    position: absolute;
    top: 50%;
    left: 250%;

    transform: rotate(0deg);

    animation: breakingLineMoving3 7s linear forwards, lineBreaking1 0.2s linear forwards;
    animation-delay: 0.2s, 3.59s;

    z-index: -1;
}

.b-breaking-line11{
    height: 100%;
    border: 1px solid white;

    position: absolute;
    top: -50%;
    left: 250%;

    transform: rotate(0deg);

    animation: breakingLineMoving3 7s linear forwards, lineBreaking2 0.2s linear forwards;
    animation-delay: 0.25s, 3.61s;

    z-index: -1;
}

.b-breaking-line12{
    height: 100%;
    border: 1px solid white;

    position: absolute;
    top: 50%;
    left: 250%;

    transform: rotate(0deg);

    animation: breakingLineMoving3 7s linear forwards, lineBreaking1 0.2s linear forwards;
    animation-delay: 0.25s, 3.61s;

    z-index: -1;
}

@keyframes boxMoving{
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}

@keyframes lineMoving{
    from{
        left: -100%;
    }
    to{
        left: -50%;
    }
}

@keyframes breakingLineMoving1{
    from{
        left: 100%;
    }
    to{
        left: -100%;
    }
}

@keyframes breakingLineMoving2{
    from{
        left: 150%;
    }
    to{
        left: -100%;
    }
}

@keyframes breakingLineMoving3{
    from{
        left: 250%;
    }
    to{
        left: -100%;
    }
}

@keyframes lineBreaking1{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(30deg);
    }
}

@keyframes lineBreaking2{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-30deg);
    }
}

/* .header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid;
    background-color: white;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;

    display: inline-flex;
    flex-wrap: nowrap;
}

.b-sangpay-logo{
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b-logo{
    width: 150px;
    height: 30px;
    border: 1px solid;
}

.b-session-time{
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b-session{
    margin-right: 10px;
}

.b-menu-option{
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b-header-list{
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
}

.b-header-list-item{
    margin-left: 50px;

    display: flex;
    justify-content: flex-end;
} */

.b-login-page-title{
    width: 500px;
    height: 100px;

    margin: auto;
    margin-top: 50px;
    padding: 0;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "dynapuff";
    font-size: 40px;
    font-weight: 400;
}

.b-my-page-box{
    width: 60%;
    height: 500px;
    
    border-radius: 15px;
    /* box-shadow: 5px 5px 5px; */
    background-color: whitesmoke;

    margin: auto;
}

.b-login-box{
    margin-top: 30px;
}

.b-fixed-values{
    width: 100%;
    height: 30%;
    border-bottom: 1px solid;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
}

.b-profile-image-box{
    width: 40%;
    height: 100%;
    border-right: 1px solid;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b-profile-image{
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 50%;

    background-image: url(./blank-profile-picture.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.b-profile-info{
    width: 60%;
    height: 100%;
}

.b-id-box{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.b-text-id{
    width: 20%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.b-text-actual-id{
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b-wallet-address{
    width: 100%;
    height: 50%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-text-wallet-address{
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-text-actual-wallet-address{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-overflow: ellipsis;
}

.b-changing-values{
    width: 100%;
    height: 70%;
}

.b-nickname-change-box{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.b-password-change-box{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.b-text-nickname{
    width: 40%;

    display: flex;
    justify-content: center;
}

.b-new-nickname-input-box{
    width: 30%;
}

.b-nickname-change-btn{
    width: 30%;

    display: flex;
    justify-content: center;
}

.b-new-password-box{
    width: 100%;

    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.b-text-password{
    width: 40%;

    display: flex;
    justify-content: center;
}

.b-new-password-input-box{
    width: 60%;

    display: flex;
    justify-content: flex-start;
}

.b-new-password-confirm-box{
    width: 100%;

    display: flex;
    align-items: center;
}

.b-text-password-confirm{
    width: 40%;

    display: flex;
    justify-content: center;
}

.b-new-password-confirm-input-box{
    width: 30%;
}

.b-password-change-btn{
    width: 30%;

    display: flex;
    justify-content: center;
}


/* -----------------------------------------------------------------------------------------현욱 */

.j-login-flex-box{
    margin: auto;
    padding: 0;

    display: flex;
    flex-direction: column;
    max-width: 460px;
    height: 560px;
    box-sizing: border-box;
}
.j-logo{
    width: 100%;
    display: inline-block;

    align-items: center; text-align: center;
}
.j-logo a{
   font-size: 40px;
   color: black;
    outline-width: 0;
    text-decoration: none;
}
.j-id-loginText{
    text-align: center;
    width: 100%;
    height: 32px;
}
.j-underBar{
    border-bottom: 2px solid aqua;
    width: 100%;
    height: 2px;
}
.j-id {
    background-color: rgba(128, 128, 128, 0.1);
    height: 44px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    display: flex;
    align-items: center;
  }
  

  
.j-pw{
    background-color: rgba(128, 128, 128,0.1);
    height: 44px;
    border: 1px solid  rgba(128, 128, 128,0.1);
}
.j-blank{
    width: 100%;
    height: 25px;

}
.j-blank2{
    width: 100%;
    height: 7px;
}
.j-loginbtnbox{
    height: 50px;

    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #033104;
}
.j-loginbtn{
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: none; 
    background-color: transparent;
}
.j-flex-findbox{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.j-findId{
    cursor: pointer;
    width: auto;
    height: 19px;
}
.j-findpw{
    cursor: pointer;
    width: auto;
    height: 19px;
}
.j-signup{
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 0;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* border: 1px solid; */
    border-radius: 5px;

    /* background-color: #066508; */

    font-size: 15px;
}
.b-signup-options{
    width: 100%;
    height: 60px;
    /* border: 1px solid; */

    margin: auto;
    margin-top: 20px;
    margin-bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.b-signup-options div{
    margin-left: 10px;
    margin-right: 10px;
}
.b-signup-option-image-google{
    width: 50px;
    height: 50px;
    /* border: 1px solid; */
    border-radius: 50%;
    background-image: url(./google_logo.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
.b-signup-option-image-facebook{
    width: 50px;
    height: 50px;
    /* border: 1px solid; */
    border-radius: 50%;
    background-image: url(./facebook_logo.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}
.b-signup-option-image-naver{
    width: 50px;
    height: 50px;
    /* border: 1px solid; */
    border-radius: 50%;
    background-image: url(./naver_logo.png);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}
.j-input1{
    width: 100%;
    height: 44px;
    border: none; 
    background-color: transparent;
}
.b-login-to-signup{
    text-decoration: none;
    color: black;
}