/* 공통으로 작업할 css */

@font-face {
    font-family: "dynapuff";
    src: url(./DynaPuff/DynaPuff-VariableFont_wdth\,wght.ttf);
}

.header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid;
    background-color: white;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;

    display: inline-flex;
    flex-wrap: nowrap;

    font-family: "dynapuff";
}

.b-sangpay-logo{
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b-logo{
    width: 150px;
    height: 50px;

    background-image: url(./120911292/120911292_padded_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.b-session-time{
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b-session{
    margin-right: 10px;
}

.b-menu-option{
    width: 30%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-right: 15px;
}

.b-header-list{
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
}

.b-header-list-item1{
    margin: 20px;

    display: flex;
    justify-content: flex-end;
}

.b-header-list-item2{
    margin: 20px;

    display: flex;
    justify-content: flex-end;
}

.b-header-list-item3{
    margin: 20px;

    display: flex;
    justify-content: flex-end;
}

.b-header-list-item4{
    margin: 20px;

    display: flex;
    justify-content: flex-end;
}

.b-header-list-item:hover{
    cursor: pointer;
    scale: 1.1;
}

.b-header-admin{
    text-decoration: none;
    color: black;
}

.b-header-my-page{
    text-decoration: none;
    color: black;
}

.b-header-faq{
    text-decoration: none;
    color: black;
}

.b-header-logout{
    text-decoration: none;
    color: black;
}

/* .b-my-page-box{
    width: 60%;
    height: 800px;
    
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
    background-color: whitesmoke;

    margin: auto;
    margin-top: 80px;
} */