@font-face {
    font-family: "dynapuff";
    src: url(../DynaPuff/DynaPuff-VariableFont_wdth\,wght.ttf);
}

body {
    margin: 0;
    font-family: "dynapuff";

    background-color: #033104;
}

/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
} */

/* header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid;
    background-color: white;
    margin: 0;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
} */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px);
}

.wallet-title {
    margin: 0;
    font-size: 40px;
}

.b-title-area{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    position: relative;
}

.historydiv{
    width: 20%;
    height: 20%;

    position: absolute;
    right: 0;
    bottom: 0;
}
.history-btn{
    width: 70px;
    height: 20px;

    position: absolute;
    top: 55%;
    left: 0;

    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;
}

.divider {
    width: 100%;
}

.wallet {
    width: 500px;
    height: 500px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;

    position: relative;
}

.coin-info,.token-info {
    justify-content: space-between;
    display: flex;
    gap: 10px;
    flex-direction: column;

}

.token-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.token-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow-y: scroll;
}

.coin-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.swap-buttons {
    display: flex;
    gap: 10px;

}

.send-btn,  .receive-btn, .exchange-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.swap-btn, .swap-btn2{
    background-color: royalblue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

/* .estimated {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
} */

/* 팝업 공통 스타일 */

.popup3 , .popup1 , .popup-exchange, .popup-history{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
/* 보내기 버튼 팝업 */


/* ---------------거래내역 보기-------------- */

/* 거래내역 팝업 */
.popup-history .popup-content {
    min-width : 400px;
    min-height: 400px;
    max-height: 600px;
    overflow-y: scroll;
    position: relative;
}

/* 거래내역 type (보내기/받기/교환/게임) */
.history-type {
    font-size: large;
    font-weight: bold;
}

/* 거래내역 content */
.history-content {
    min-width: 300px;
}

/* 거래내역 price div */
.history-pricediv {
    /* 내부요소 우측정렬 */
    display: flex;
    justify-content: flex-end;

    margin-top: 10px;
}

/* 거래내역 페이/토큰이름, 금액 */
.history-pricename, .history-priceamount {
    margin: 0;
}

/* 거래내역 price name */
.history-pricename {
    font-size: large;
    margin-right: 10px;
}

/* 거래내역 price amount */
.history-priceamount {
    font-size: large;
    font-weight: bold;
}

/* 거래내역 입금 */
.history-plus {
    color : blue;
}

/* 거래내역 출금 */
.history-minus {
    color:red;
}

/* 거래내역 팝업창 내부 구분선 */
.history-content .divider {
    margin: 20px auto;
}

/* 거래내역 닫기 버튼 */
.history-cancel {
    position: absolute;
    right: 5%;
}


/* -------------------------------------- */

/* 받기 버튼 팝업  */
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* .popup-hidden {
    display: none;
} */

.qrcode {
    width: 150px;
    height: 150px;
}

.wallet-address {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
/* 팝업 닫기 버튼들 */
.h-close-button , .h-send-button, .swap-execute, .swap-execute2, .exchange-close-button , .send-close-button
, .swap-cancel , .swap-cancel2{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}

.history-cancel{
    background-color: white;
    cursor: pointer;
}

/* 보내기 팝업 안에 주소,숫자 입력창 */
.input-field {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* 스왑 버튼 팝업창 */

.popup-swap, .popup-swap2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}

/* .swap-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
} */

.swap-input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.swap-input-field {
    width: 50%;
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    gap: 5px;
    text-align: center;
}

/* 스왑 안에 토큰 10개 */

.token-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    max-height: 100%;
    overflow-y: auto;
    list-style: none;
    padding: 0;
}

.token-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    user-select: none;
}

.token-list li.selected {
    background-color: #4CAF50;
    color: white;
}

.swap-expected {
    text-align: center;
}

.coin , .coin-amount {
    padding: 10px;
}

/* 수정중인 지갑안에 토큰들 css */

.wallet-tokens {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#main-token-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    list-style: none;
    padding: 0;
}

#main-token-list li {

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

/* 페이 to 토큰 가로 영역 표시 실선 */

.separator{
    border: 10px;
    border-top: 1px solid black;
    margin: 10px;
}

.final-exchange {
    /* 최종 교환 예상 내역 영역 스타일 */
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  /* 교환 버튼 안에 페이 투 토큰 팝업창 안에 취소하기 버튼 */
  .button-container {
    display: flex;
    justify-content: space-between;
  }