@font-face {
    font-family: "dynapuff";
    src: url(../DynaPuff/DynaPuff-VariableFont_wdth\,wght.ttf);
}

.whole-adminpage {
    width: 100%;
    height: 100vh;
    background-color: #033104;

    font-family: "dynapuff";
}

.b-page-title {
    width: 500px;
    height: 100px;

    margin: auto;
    margin-top: 50px;
    padding: 0;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "dynapuff";
    font-size: 40px;
    font-weight: 400;
}

.b-admin-window {
    width: 60%;
    height: 500px;

    border-radius: 15px;
    background-color: white;

    margin: auto;

    overflow-y: scroll;
}

.b-tab-menu {
    align-items: center;
    margin: 0;
    text-align: center;

    display: flex;
    flex-wrap: wrap;

    box-sizing: border-box;
}

.b-tab-menu>input {
    display: none;
}

.b-tab-menu>input+label {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 40px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    font-size: 15px;
    cursor: pointer;
}

input[class="b-member"]:checked+label,
input[class="b-not-yet-member"]:checked+label {
    border-top: 1px solid #033104;
    border-bottom: 1px solid #033104;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    background-color: white;
}

.box {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    background-color: white;
    display: none;
}

input[class="b-member"]:checked~.item1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

input[class="b-not-yet-member"]:checked~.item2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.board-content {
    margin-top: 10px;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.board-content div {
    width: 300px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    width: 100%;
    height: 100%;
}

.item2 {
    width: 100%;
    height: 100%;
}

.b-member-board {
    width: 100%;
    height: 100%;
}

.b-confirm-waiting-member-board {
    width: 100%;
    height: auto;
}